@media screen and (max-width: 991px) {
  header.main-header {
    height: auto;
    padding: 15px 0;
  }
  .navbar .dropdown-menu {
    position: absolute;
    top: 15px;
    right: 0;
  }
  .dropdown-menu {
    width: auto;
    transform: translateX(0) translateY(35px);
    position: static;
    float: none;
  }
  .navbar-nav {
    float: left;
    text-align: center;
    width: 100%;
    padding: 6px 0;
  }
  .theme-switch {
    position: absolute;
    right: 50px;
    top: 20px;
  }
  .search__right li.nav-item {
    width: 100%;
    display: block;
    text-align: left;
    margin: 15px 0;
  }
}
@media (max-width: 440px) {
  #banner .item {
    min-height: 440px;
  }
  header a.nav-link:hover:before {
    width: 0;
  }
  .nav-item .dropdown-menu::after {
    left: 50%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  #banner .item {
    min-height: 500px;
  }
  header a.nav-link:hover:before {
    width: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  #banner .item {
    min-height: 580px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1080px) {
  .hny-title {
    font-size: 35px !important;
    line-height: 40px;
  }
}

@media (max-width: 600px) {
  .hny-title {
    font-size: 32px !important;
    line-height: 38px;
  }
}

@media (max-width: 378px) {
  .hny-title {
    font-size: 27px !important;
    line-height: 32px;
  }
}

@media (max-width: 375px) {
  .btn-white,
  .btn-style {
    padding: 12px 30px;
  }
}

@media (max-width: 992px) {
  .number__num p {
    font-size: 40px !important;
    line-height: 50px;
  }

  h4.number__text {
    font-size: 18px !important;
  }
}

@media (max-width: 737px) {
  .number__num {
    padding: 0 5px !important;
  }

  p.number__num {
    font-size: 35px !important;
    line-height: 38px;
    margin-top: 20px;
  }

  h4.number__text {
    font-size: 17px !important;
  }
}
@media only screen and (max-width: 667px) {
  form.justify-content-between button {
    flex-basis: 100%;
    display: block;
    width: 100%;
    margin-top: 16px;
  }
  .search-popup form input[type="search"] {
    border-radius: 6px;
    margin-right: 10px;
  }
  .search-popup form button {
    padding: 0 25px;
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-radius: 6px;
  }
}
