@media screen and (max-width: 991px) {
  header.main-header {
    height: auto;
    padding: 15px 0;
  }
  .navbar .dropdown-menu {
    position: absolute;
    top: 15px;
    right: 0;
  }
  .dropdown-menu {
    width: auto;
    transform: translateX(0) translateY(35px);
    position: static;
    float: none;
  }
  .navbar-nav {
    float: left;
    text-align: center;
    width: 100%;
    padding: 6px 0;
  }
  .theme-switch {
    position: absolute;
    right: 50px;
    top: 20px;
  }
  .search__right li.nav-item {
    width: 100%;
    display: block;
    text-align: left;
    margin: 15px 0;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
