#banner .item {
  background: url(../image/poochcare1.jpg);
  background-size: cover;
  display: grid;

  align-items: center;
  padding: 48px 0;
  min-height: calc(100vh - 90px);
}
#banner .item__2 {
  background: url(../image/poochcare2.jpg);
  background-size: cover;
}
.banner__content {
  position: relative;
  z-index: 1;
}
.banner__info {
  max-width: 700px;
}
.banner .item::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(12, 12, 12, 0.6);
}
.banner__info h5 {
  font-size: clamp(26px, 40px, 66px);
  line-height: clamp(32px, 48px, 76px);
  /* font-size: 66px;
  line-height: 76px; */
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
.banner__info p {
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.9;
}
.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}
.btn-white {
  background-color: #fff;
  color: #189a46;
}
#banner .banner__info a.btn:hover {
  color: #9a1818;
  text-decoration: none;
  background: #fff;
  font-weight: 600;
}
.border-btn {
  border: 2px solid #fff;
  color: #fff;
}
#banner .banner__info a.border-btn:hover {
  background-color: #fff;
  color: #189a46;
  font-weight: normal;
}
.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
}
.owl-theme .owl-dots .owl-dot span {
  transition: all 0.5s;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #189a46;
  width: 30px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 60px;
}
/* section about */
.about_item {
  max-width: 700px;
}
.sub-title {
  font-size: 18px;
  font-weight: 400;
  color: red;
  line-height: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hny-title {
  font-size: clamp(30px, 35px, 40px);
  font-weight: 600;
  text-transform: capitalize;
  line-height: clamp(32px, 38px, 48px);
}
a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid var(--color-green);
  color: var(--color-black);
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}
a.read:hover {
  color: var(--color-green);
}
/* features */
#features {
  background: #f9f7fe;
}
.grid-feature {
  margin-bottom: 30px;
}
.area-box {
  padding: 40px 30px;
  transition: all 0.5s ease;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}
.area-box:hover {
  background: rgba(147, 107, 232, 0.05);
}
.icon i {
  color: var(--color-green);
  font-size: 30px;
}

.area-box h4 a {
  margin: 25px 0 15px 0;
  display: block;
  transition: all 0.5 ease;
  color: var(--color-black);
}
.area-box h4 a:hover {
  color: var(--color-green);
}
/* services */

.text-services p {
  line-height: 24.5px;
  margin: 15px 0 35px 0;
  font-size: 16px;
}
.offer__icon {
  color: #189a46;
  margin-right: 12px;
  background: rgba(147, 107, 232, 0.05);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
}
/* number */
#number {
  background: var(--color-green);
}
p.number__num {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}
h4.number__text {
  color: #fff;
  margin-top: 10px;
  line-height: 25px;
  opacity: 0.8;
  font-weight: 400;
  text-transform: capitalize;
}
/* plain */
#plan {
  background: rgba(147, 107, 232, 0.05);
}
#plan .sub__heading {
  margin-bottom: 10px;
  font-size: 25px;
}
.plan__card-wrapper {
  width: 90%;
  margin: auto;
}
.plan__card-left,
.plan__card-middle,
.plan__card-right {
  background: white;
  border-radius: 6px;
  overflow: hidden;
}
.plan__card-left,
.plan__card-right {
  padding: 3.5em 2.5em;
}
.plan__card-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.plan__card-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.plan__card-middle {
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
  position: relative;
  z-index: 1;
  padding: 0;
}
.plan__card-middle .plan__card-top {
  background-color: #189a46;
  width: 100%;
  padding: 48px 40px 8px;
}
.plan__card-middle .plan__card-bottom {
  padding: 32px 40px 56px;
}
.plan__card-top .plan__card-save {
  font-size: 15px;
  line-height: 20px;
  color: #189a46;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}
.plan__card-top h3 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}
.plan__card-top p {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
  text-align: center;
  margin: 15px 0 20px;
}
.plan__card-top span {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #189a46;
}
.plan__card-top label {
  font-size: 25px;
  vertical-align: text-top;
}
.plan__card-bottom ul:not(.different) {
  margin-bottom: 0;
  padding-top: 16px;
}
.plan__card-bottom ul li {
  margin-bottom: 5px;
  color: #696969;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  padding-top: 6px;
}
.plan__button.btn {
  margin-top: 32px;
  background-color: #189a46;
  color: white;
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  border: none;
  outline: #189a46;
}
.plan__button.btn:hover {
  background-color: #116e32;
  border-color: #116e32;
  color: #fff;
}

.nutrition__play-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nutrition__play-button i {
  width: 55px;
  height: 55px;
  background-color: white;
  text-align: center;
  line-height: 55px;
  color: #189a46;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
}
.nutrition__play-button i:hover {
  scale: 1.1;
}
.pop-up-video {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0b0b0b;
  z-index: 2000;
  opacity: 0.95;
}
.pop-up-video > div {
  max-width: 750px;
  width: 100%;
  height: 100%;
  margin: auto;
}
.pop-up-video > div div {
  width: 100%;
  height: 400px;
}
.pop-up-video iframe {
  width: 100%;
  height: 400px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pop-up__iframe {
  width: 100%;
  height: 100%;
}
.button__close {
  line-height: 40px;
  right: 0;
  top: -40px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  background-color: transparent;
  border: none;
  outline: none;
}
.button__close:focus {
  border: none;
  outline: none;
}
.prohibited-scroll {
  overflow: hidden;
}
/* feedback */
#feedback {
  background: #f9f7fe;
}

.owl-two .item {
  padding: 40px 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  position: relative;
  border: navajowhite;
  display: block;
}
.test-quoute blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}
.test-quoute blockquote q {
  font-size: 1.2em;
  line-height: 28px;
  color: var(--color-gray);
}
.test-quoute blockquote q::before {
  font-size: 50px;
  font-family: "Merriweather", serif;
  font-weight: 600;
  display: inline-block;
  color: var(--color-green);
  padding-top: 8px;
  line-height: 0.8;
}
.item__member img.img-fluid {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;
  /* display: block; */
}
.item__tag span {
  color: #777;
  font-size: 17px;
  text-align: left;
  opacity: 0.8;
}
.item__tag h3 {
  color: #000;
  font-weight: 600;
  font-size: 20px;
}
.owl-theme .owl-dots .owl-dot span {
  background: #d8d8d8;
  display: block;
  transition: ease 0.5s ease;
  position: relative;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #189a46;
  width: 30px;
  margin-top: 30px;
}
.owl-two.owl-carousel.owl-theme .owl-dots {
  position: inherit;
  left: 0px;
  right: 0px;
  bottom: 30px;
  margin-top: 80px;
}
/* contact */
.contact__content {
  width: 60%;
}
.contact__form input {
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 10px;
  height: 60px;
  padding: 0 20px;
  font-size: 1rem;
  flex-basis: 70%;
  font-size: 16px;
}
.contact__form button {
  flex-basis: 27%;
}
.contact__form input:focus-visible {
  border: 1px solid var(--color-green);
  outline: none;
}
